@tailwind base;
@tailwind components;
@tailwind utilities;
input,
textarea {
  @apply border-2 border-gray-300 rounded-md px-1 w-full;
  @apply mb-2;
}
input:focus,
textarea:focus {
  @apply border-sky-900;
}
h1 {
  @apply text-sky-950 mb-2 text-xl;
}
label {
  @apply text-sky-950;
}
.btn-primary {
  @apply bg-sky-700 text-white rounded-md px-3 py-1;
}
table.basic {
  @apply w-full;
}
table.basic thead tr td {
  @apply bg-green-200;
}
table.basic tr td {
  @apply border border-green-300 p-1;
}
table.basic a {
  @apply bg-sky-500 rounded-md py-1 px-2 inline-flex gap-1 mr-1;
}
.btn-default,
.btn-red {
  @apply px-4 py-1 mr-2;
}
.btn-red {
  @apply bg-red-700 text-white rounded-md;
}
.btn-default {
  @apply bg-green-300 text-white rounded hover:bg-green-600;
}

.error {
  color: red;
}
.nav-link {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 8px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.nav-link.active {
  background-color: #4b5563;
}

.nav-icon {
  margin-right: 8px;
}
